[submodule "DCC/Controller"]
	path = DCC/Controller
	url = git@github.com:DccPlusPlus/Controller.git
[submodule "DCC/Documentation"]
	path = DCC/Documentation
	url = git@github.com:DccPlusPlus/Documentation.git
[submodule "jmri/JMRI"]
	path = jmri/JMRI
	url = git@github.com:JMRI/JMRI.git
[submodule "DCC/BaseStation-EX"]
	path = DCC/BaseStation-EX
	url = git@github.com:DCC-EX/BaseStation-EX.git
[submodule "DCC/BaseStation-Classic"]
	path = DCC/BaseStation-Classic
	url = git@github.com:DCC-EX/BaseStation-Classic.git
